.body-m{
    z-index: 50;
    width: 90%;
    height: 180%;
    overflow: hidden;
    background: #ffffff50;
    backdrop-filter: blur(10px);
    position: absolute; top: 15%; left: 5%;
}
.body-m1{
    width: 90%;
    height: 200%;
}
.body-m2{
    width: 90%;
    height: 200%;
}
.body-m3{
    width: 90%;
    height: 200%;
}
.body-m4{
    width: 90%;
    height: 200%;
}
.body-m5{
    width: 90%;
    height: 200%;
}
.body-text{
    width: 90%;
    color: white;
    margin: 0 auto;
    font-family: Calibri;
    /* border: 1px solid black; */
}
.body-text p {
    color: black;
    font-size: large;

}
.flex{
    display: flex;
}
.block{
    display: none;
}
.b-m1{
    height: 100%;
    background-size: cover;
    filter: brightness(80%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../Bilder/bmw-m1.jpg");
}
.b-m2{
    height: 100%;
    background-size: cover;
    filter: brightness(100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../Bilder/bmw-m2.jpg");
}
.b-m3{
    height: 100%;
    background-size: cover;
    filter: brightness(100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../Bilder/bmw-m3.jpg");
}
.b-m4{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-filter: brightness() saturate();
    filter: brightness(100%) saturate(150%);
    background-image: url("../Bilder/bmw-m4.jpg");
}
.b-m5{
    height: 100%;
    background-size: cover;
    filter: brightness(100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../Bilder/bmw-m5.jpg");
}
.b-home{
    height: 100%;
    background-size: cover;
    filter: brightness(100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../Bilder/home.jpg");
}