/* -------------------------------- Mobil -------------------------------- */
@media only screen and (max-width: 419.5px) {
  .sidepanel {
    width: 0;
    z-index: 100;
    height: 93%;
    transition: 0.5s;
    padding-top: 50px;
    overflow-x: hidden;
    background-color: white;
    backdrop-filter: blur(10px);
    position: fixed; top: 0; right: 0;
    font-family: Calibri, sans-serif, Arial;
  }

  .sidepanel a {
    display: block;
    font-size: 25px;
    color: #818181;
    text-align: right;
    text-decoration: none;
    padding: 80px 20px 8px 30px;
  }

  .sidepanel hr {
    width: 80%;
    border: 0;
    height: 1px;
    filter: brightness(250%);
    background: linear-gradient(90deg,#0059d4,#00204e,#b40000);
  }

  .sidepanel a:hover {
    color: black;
  }

  .openbtn {
    border: none;
    color: black;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
    position: relative; right: 0;
  }
}

/* ************************************************************************ */
/* -------------------------------- Tablet -------------------------------- */
@media only screen and (min-width: 420px) and (max-width: 999.5px) {
  .sidepanel  {
    width: 0;
    z-index: 100;
    height: 93%;
    transition: 0.5s;
    padding-top: 50px;
    overflow-x: hidden;
    background-color: white;
    backdrop-filter: blur(10px);
    position: fixed; top: 0; right: 0;
    font-family: Calibri, sans-serif, Arial;
  }

  .sidepanel a {
    display: block;
    font-size: 25px;
    color: #818181;
    text-align: right;
    text-decoration: none;
    padding: 80px 40px 8px 32px;
  }

  .sidepanel hr {
    width: 80%;
    border: 0;
    height: 1px;
    filter: brightness(250%);
    background: linear-gradient(90deg,#0059d4,#00204e,#b40000);
  }

  .sidepanel a:hover {
    color: black;
  }

  .openbtn {
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    position: relative; right: 0;
  }
}

/* ************************************************************************ */
/* -------------------------------- Desktop -------------------------------- */
@media only screen and (min-width: 1000px) {
  .sidepanel  {
    display: none;
  }

  .openbtn {
    display: none;
  }
}
